# 開発時メモ
note.txt

# pythonファイル
test.py
test1.py
setup.py
MyAI.py
MyAI.pyx
MyAI.c
copy_main.py

# pythonAI
MyAI/

# pythonのテストコード
.python/

# Python仮想環境を無視
.venv/

# Pythonキャッシュやビルド関連
__pycache__/
*.pyc
*.pyo
build/
dist/
*.egg-info/

# VSCode設定（共有したくない場合）
.vscode/

# OSごとの不要ファイル
.DS_Store
Thumbs.db