# 開発時メモ
note.txt

# pythonファイル
test.py
setup.py
ShogiAI.py
ShogiAI.pyx
ShogiAI.c
copy_main.py

# pythonのテストコード
.python/

# Python仮想環境を無視
.venv/

# Pythonキャッシュやビルド関連
__pycache__/
*.pyc
*.pyo
build/
dist/
*.egg-info/

# VSCode設定（共有したくない場合）
.vscode/

# OSごとの不要ファイル
.DS_Store
Thumbs.db